body{
    font-family:"Roboto", sans-serif;
    color:#1e1e1e;
    background-color:#f9f9f9;
    font: size 16px;
    line-height: 1.6;
}
.logo{
     font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}
.logo .blue {
  color: #007bff; /* синій як у Figma */
}

.logo .black {
  color: #000000; /* чорний */

}
.hero {
    padding: 120px 20px;
    background-color: #2E2F42;
    color: #ffffff;
  text-align: center,start}
    

.hero h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}
button{             
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
 text-align: start;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #3b45c0;
}
.team h2{
    text-align: center;
}
.team h3{
    text-align: center;
}
.team p{
    text-align: center;
}


footer{
    color:#ffffff;
    background-color:#2E2F42;
}
.footer-logo .blue{
    color: #007bff;
}
.footer-logo .white{
    color: #ffffff;
}
.footer-logo{
    font-family:"Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
}
